html, body {
  padding: 20px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 18px;
}

button {
  display: block;
  padding: 6px;
  background-color: #000099;
  border: 1px solid #000099;
  border-radius: 3px;
  color: white;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 18px;
}

button:hover {
  background-color: white;
  color: #000099;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:active {
  position: relative;
  top: 0.5px;
  left: 0.5px;
}

button:disabled {
  border: 1px solid #727272;
  background-color: #727272;
  color: white;
}

input[type=text] {
  box-sizing: border-box;
  display: inline-block;
  padding: 8px;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 18px;
}

input[type=text]:focus {
  outline: none;
  border: 1px solid #000099;
}

label > input { 
  visibility: hidden;
}

label > input:checked + .cc {
  color: #000099;
}

a:link, a:hover, a:active, a:visited {
  text-decoration: none;
  color: black;
}

.container {
  margin: auto;
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  box-shadow: 0px 5px 15px 0px #333333;
  overflow: hidden;
}

.login-container, .wallet-container, .payable-container {
  min-width: 300px;
  border: 0.1px solid #CCCCCC;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payable-container {
  min-height: 600px;
}

.wallet-container {
  align-items: stretch;
}

.disabled {
  background-color: #CCCCCC;
  opacity: 0.8;
}

.login, .payable, .title {
  width: 240px;
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.form {
  border-top: 0.1px solid #CCCCCC;
  display: block;
  padding: 10px;
}

.wallet-sub-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.manage-row {
  display: flex;
  flex-direction: column;
}

.wallet-row, .card {
  display: inline-flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;

}

.card {
  border-top: 0.1px solid #CCCCCC;
}

.card:hover {
  background-color: #F2F2F2;
  cursor: pointer;
}

.selected-card, .selected-card:hover{
  background-color: #CBCBFF;
}

.icon, .logo {
  width: 30px;
  height: 30px;
}

.icon:hover, a:hover {
  color: #0000FF;
  cursor: pointer;
}

.icon:active {
  position: relative;
  top: 0.5px;
  left: 0.5px;
}

.icon.hide {
  opacity: 0;
}

.cc {
  width: 36px;
  height: 36px;
  color: grey;
}

.cc-holder {
  display: block;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
}

.col-100 {
  width: 98%;
  margin: 10px 1%;
}

.col-50 {
  width: 48%;
  margin: 10px 1%;
}

@media only screen and (max-width: 480px) {
  .col-50 {
    width: 98%;
  }
  .payment-container {
    min-height: 400px;
  }
}

